<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- 
  <ion-list style="margin-top: 1%;">
    <ng-container *ngFor="let t of todo">
      <ion-item *ngIf="t.done == false">
        <ion-label style="margin-left: 3%;">{{ t.title }}</ion-label>
        <ion-label color="primary" style="text-align: right; margin-right: 5%;">{{ t.due }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
-->

  <ion-list style="margin-top: 1%; margin-left: 5%; margin-right: 5%;">
    <ng-container *ngFor="let t of todo">
      <ion-item-sliding *ngIf="!t.done">
        <ion-item (click)="showNote(t.id)">
          <ion-label>{{ t.title }}</ion-label>
          <ion-note slot="end" color="tertiary">{{ t.due }}</ion-note>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option (click)="setDone(t)" color="success">Erledigt</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>
