<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list style="margin-top: 1%;">
    <ng-container *ngFor="let t of todo">
      <ion-item *ngIf="t.done == false">
        <ion-label style="margin-left: 3%;">{{ t.title }}</ion-label>
        <ion-label color="primary" style="text-align: right; margin-right: 5%;">{{ t.due }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
